<template>
  <div class="header">
    <h1>header</h1>
  </div>
</template>

<script>
  export default {
    name: 'TheHeader',
    created() {
      console.group('TheHeader created');
      console.log(this.$route.query.q);
      console.groupEnd();
    },
    watch: {
      '$route.query.q': {
        handler: function(q) {
          console.group('TheHeader watch');
          console.log(q);
          console.groupEnd();
        },
        deep: true,
        immediate: true
      }
    },
  };
</script>